<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form action="/get-form-data" method="post">
        <input type="text" placeholder="Enter Email" name="Email">
        <input type="text" placeholder="Enter Name" name="Name">
        <input type="password" placeholder="Enter password" name="password">
        <!-- name is used to show data at the backend -->
        <button>Submit form</button>
    </form>
</body>

</html>